.medical-page{
width: 1278.4000244140625;
height: 665.6000366210938;
angle: 0 deg;
opacity: 1;
padding-top: 24px;
padding-right: 24px;
padding-left: 24px;
}
.heading{
width: 1230.4000244140625;
height: 25.600000381469727;
angle: 0 deg;
opacity: 1;
}
.medical-heading{
width: 221;
height: 36;
angle: 0 deg;
opacity: 1;
top: 0.4px;
font-family: Segoe UI;
font-weight: 700;
font-style: Bold;
font-size: 30px;
leading-trim: NONE;
line-height: 36px;
letter-spacing: -0.75px;
color: #0F172B;
}
.medical-subheading{
width: 266;
height: 26;
angle: 0 deg;
opacity: 1;
top: -0.4px;
font-family: Segoe UI;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 25.6px;
letter-spacing: 0px;
color: #45556C;
}
.card-body{
width: 1230.4000244140625;
height: 236.40000915527344;
border-radius: 16.4px;
border-width: 0.8px;
padding-top: 24.8px;
padding-right: 24.8px;
padding-bottom: 0.8px;
padding-left: 24.8px;
gap: 16px;
angle: 0 deg;
opacity: 1;
background: #FFFFFF;
border-top: 0.8px solid #E2E8F0;
box-shadow: 0px 1px 2px -1px #0000001A;
box-shadow: 0px 1px 3px 0px #0000001A;
}
.card-title{
width: 115;
height: 28;
angle: 0 deg;
opacity: 1;
top: 0.8px;
font-family: Segoe UI;
font-weight: 600;
font-style: Semibold;
font-size: 20px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0px;
color: #0F172B;
}
.followup-content{
width: 1180.800048828125;
height: 142.8000030517578;
border-radius: 10px;
border-width: 0.8px;
padding-top: 16.8px;
padding-right: 16.8px;
padding-bottom: 0.8px;
padding-left: 16.8px;
gap: 12px;
angle: 0 deg;
opacity: 1;
border-top: 0.8px solid #E2E8F0
}
.followup-title{
width: 225.85000610351562;
height: 26;
angle: 0 deg;
opacity: 1;
font-family: Segoe UI;
font-weight: 600;
font-style: Semibold;
font-size: 18px;
leading-trim: NONE;
line-height: 25.2px;
letter-spacing: 0px;
color: #0F172B;
}
.doctor-year{
width: 226;
height: 24;
angle: 0 deg;
opacity: 1;
top: -1.2px;
font-family: Segoe UI;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
color: #45556C;
}
.doctor-type{
  font-family: Segoe UI;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
color: #314158;

}
.doctor-treatment{
  font-family: Segoe UI;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
color: #314158;
}
.download-btn{
width: 130.0124969482422;
height: 40;
border-radius: 10px;
angle: 0 deg;
opacity: 1;
background: #F1F5F9;
font-family: Segoe UI;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: #314158;
}
.image1{
  width: 6.666666507720947;
height: 3.3333332538604736;
border-width: 1.33px;
angle: 0 deg;
opacity: 1;
top: 6.67px;
left: 4.67px;
border: 1.33px solid #314158
}
.presciptions-page{
width: 1278.4000244140625;
height: 665.6000366210938;
angle: 0 deg;
opacity: 1;
padding-top: 24px;
padding-right: 24px;
padding-left: 24px;
}
.prescription-title{
  width: 175;
height: 36;
angle: 0 deg;
opacity: 1;
top: 0.4px;
font-family: Segoe UI;
font-weight: 700;
font-style: Bold;
font-size: 30px;
leading-trim: NONE;
line-height: 36px;
letter-spacing: -0.75px;
color: #0F172B;
}
.prescription-subtitle{
  width: 258;
height: 26;
angle: 0 deg;
opacity: 1;
top: -0.4px;
font-family: Segoe UI;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 25.6px;
letter-spacing: 0px;
color: #45556C;

}


